/* start coding here */
/* start coding here */
input {
  height: 50px;
  width: 240px;
  border-radius: 3px;
}

button {
  width: 120px;
  height: 36px;
  border: 1px solid lightgrey;
  /* border-color: lightgrey; */
  background-color: khaki;
}
